.chat-main{
  height: 100%;
  width: $mainWidth;
  float: right;
  &__header {
    min-height: 70px;
    border: 1px solid #eeeeee;
    padding: 0 40px ;

    &__groupname {
      font-size: 20px;
      color: #333333;
      padding: 35px 0 15px 0;
      float: left;
    }
    &__edit {
      height: 40px;
      line-height: 40px;
      float: right;
      margin-top: 28px;
      border: 1px solid #38AEF0;
      padding: 0 20px;
      color: $skyblue;
    }
    &__members {
      font-size: 12px;
      color: #999999;
      clear: both;
      text-decoration: none;
    }
  }

  &__body {
    min-height: calc(100% - 70px - 90px);
    width: $mainWidth;
    padding: 0 40px ;

    &__messageslist {
      padding:46px 0 0 0;

      &__name {
        font-size: 16px;
        color: #434A54;
        display: inline-block;
      }

      &__time {
        font-size: 12px;
        color: #999999;
        display: inline-block;
        margin: 0 0 10px 10px;
      }

      &__text {
        font-size: 14px;
        color: #434A54;
        margin: 0 0 40px 0;
      }
    }
  }

  &__footer {
    width: $mainWidth;
    height: 50px;
    font-size: 16px;
    padding: 20px 40px;
    background-color: gray;

    &__form{
      .input{
        width: 900px;
        height: 50px;
        border: none;
        padding: 0 s10px;
        color: black;
        float: left;
        margin-left: 20px;
      }
      .send{
        width: 100px;
        height: 50px;
        border: none;
        color: white;
        float: left;
        background-color: $skyblue;
        margin-left: 15px;
      }
      .upload {
        width: 25px;
        height: 50px;
        line-height: 50px;
        background-color: white;
        border: none;
        float: left;
        margin-right: 10px;
        .btn {
        display: none;
        }
      }
    }
  }
}


